<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../head") %>
    <title>Document</title>
</head>

<body>

    <%- include("../include/header") %>
    <div class="sub-container">
        <ul class="tabs sub">
            <li class="current" data-tab="tab1">전체 회원</li>
            <li data-tab="tab2">일반 회원</li>
            <li data-tab="tab3">열심 회원</li>
            <li data-tab="tab4">블랙 리스트</li>
        </ul>
        <div class="contents-container">
            <%- include("./tabs/tab1") %>
            <%- include("./tabs/tab2") %>
            <%- include("./tabs/tab3") %>
            <%- include("./tabs/tab4") %>
        </div>


    </div>


    <%- include("../include/footer") %>

    <script type="text/javascript" src="/javascripts/tabmenu.js"></script>
    <script type="text/javascript" src="/javascripts/checkbox.js"></script>

</body>

</html>